.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    margin: 0 auto;
    padding-top: 10px;
    width: 1074px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #484847;
}

.header-nav {
    width: 100%;
    border-bottom: 0.5px solid #4B6049;
}

.menu-items {
  padding: 0 14px;
    display: flex;
    gap: 25px;
}



.users-menu {
    display: flex;
    gap: 20px;
}

/* .user-account {
    width: 36px;
height: 36px;
background-image: url(../img/cabinet=default.png);
} */

.favorite {
    width: 36px;
height: 36px;
background-image: url(../img/favorite=default.png);
}

.basket {
    width: 36px;
height: 36px;
background-image: url(../img/basket=default.png);
}

.main-catalog {
    width: 1074px;
}

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.filter {
    width:226px;
}

.filter-head {
    font-family: 'Candara';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
color: #484847;
}

.item-label {
    display: inline-block;
    font-family: 'Candara';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #484847;
}

.item-input{
    display: block;
}

.product-card {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    grid-template-rows: 400px;
    grid-gap: 30px;
    margin-bottom: 42px;
}

.last-product-item,
.product-item {
    padding: 13px;
}

.product-item-img {
    width: 234px;
    height: 233px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.vish {
    position: absolute;
    top: 10px;
    right: 5px;
}

.product-name {
    font-weight: 400;
font-size: 20px;
line-height: 150%;
margin-top: 13px;
}
.card-link {
    font-size: 16px;
line-height: 20px;
}

.product-price {
    text-align: end;
}

.more-link {
    display: flex;
    margin-top: 20px;
 }

.btn-wrapp-in-bascket {
    margin-left: 50px;
    width: 100px;
    font-family: 'Candara';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    position: relative;
}

.catalog-btn-in-bascket {
    text-align: center;
    width: 100%;
    padding: 2px 23px;
    background: #4B6049;
    color: #FFFBF5;
}

 .btn-wrapp-in-bascket::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 25px;
    top: -8px;
    right: -10px;
    border: 1px solid #484847;
    z-index: -1;
}

.catalog-btn-in-bascket:hover {
    cursor: pointer;
    translate: 9px -7px;
    transition: 1500ms;
}


/* .img-item1 {
    background-image: url(../img/katalog1.png);
}

.img-item2 {
    background-image: url(../img/katalog2.png);
}

.img-item3 {
    background-image: url(../img/katalog3.png);
}

.img-item4 {
    background-image: url(../img/katalog4.png);
}

.img-item5 {
    background-image: url(../img/katalog5.png);
}

.img-item6 {
    background-image: url(../img/katalog6.png);
}

.img-item7 {
    background-image: url(../img/katalog7.png);
}


.img-item8 {
    background-image: url(../img/katalog8.png);
}

.img-item9 {
    background-image: url(../img/katalog9.png);
}

.img-item10 {
    background-image: url(../img/katalog10.png);
}

.img-item11 {
    background-image: url(../img/katalog11.png);
}

.img-item12 {
    background-image: url(../img/katalog12.png);
}

.img-item13 {
    background-image: url(../img/katalog13.png);
}

.img-item14 {
    background-image: url(../img/katalog14.png);
}

.img-item15 {
    background-image: url(../img/katalog15.png);
} */

.last {
    margin-top: 96px;
    margin-bottom: 85px;
}

.last-container {
    margin-top: 44px;
    display: flex;
}

.last-product-item {
    width: 260px;
    height: 400px;
}

.icon {
    fill: none;
}

.footer {
    width: 100%;
    /* background-color: #4b6049; */
}


.footer-container {
    /* width: 1074px; */
    display: flex;
    flex-direction: column;
}

.footer-bg {
    width: 100vw;
    background-color: #4b6049;
}

.social {
    margin: 0 auto;
    width:1074px;
    background-color: #fff;

}

.social-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 8px;
    gap: 15px;
}




.footer-contact {
    margin: 0 auto;
    
    color: #fffbf5;
    width: 1074px;
   
    display: flex;
    align-items: center;
    padding:29px 0 0 14px;
}

.footer-logo {
    width: 232px;
    height: 134px;
    margin-right: 88px;
}

.footer-nav{
margin-right: 38px;
}

.footer-nav-items {
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 3px;
}

.work-time {
margin-right: 52px;
}

.work-time-items {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
}

.cards-container {
    margin: 0 auto;
    width: 1074px;
}

.cards-items {
    
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding-bottom: 12px;
}