.slider {
  margin: 0 auto;
  width: 1074px;
  text-align: center;
}
  
  .slides {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide {
 
    flex: 1;
    padding: 10px;
    text-align: center;
  
    display: none;
  }
  
  .slide.active {
    display: block;
  }

  .slider-img {
    width: 1074px;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    color: gray;
    cursor: pointer;
  }
  
  .arrow.prev {
    left: 10px;
  }
  
  .arrow.next {
    right: 10px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-color: aliceblue;
    background-color: rgb(222, 213, 213);
    margin: 0 10px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: rgb(26, 128, 3);
  }
  